body {
  background: #293752;
  color: #f00;
  margin: 0 auto;
}

canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.actions {
  position: fixed;
  top: 20px;
  right: 20px;

  display: flex;
  align-items: center;
}

input {
  width: 100px;
  margin-left: 5px;
}
