body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;

  background: #000;
  color: #fff;
  margin: 50vh 40px 40px 40px;
}

img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
  position: sticky;
  top: 40px;
}

h1 {
  font-size: 24px;
  font-weight: 700;

  position: fixed;
  top: 80px;
  left: 80px;
  z-index: 1;
}

nav {
  position: fixed;
  top: 80px;
  right: 80px;
  z-index: 1;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  margin: 0 0 0 30px;
}
