@font-face {
  font-family: iA Writer Mono;
  font-style: italic;
  src: url('./assets/iawritermonov-italic.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  background-color: #000;
  color: #fff;
  font-family: iA Writer Mono;
  font-style: italic;
  font-size: 4vmax;
  line-height: 1.3;
}

section {
  padding: 64px;
  height: 100vh;
  background-size: 60vmax auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

section.image1 {
  background-image: url(./assets/image1.jpg);
}

section.image2 {
  background-color: #fff;
  color: #000;
  background-image: url(./assets/image2.jpg);
}

section.image3 {
  background-image: url(./assets/image3.jpg);
}
